version: '3.9'

services:

  postgres:
    image: postgres:latest
    container_name: postgres
    env_file:
      - env/db.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5431:5432"
    volumes:
      - db-data:/var/lib/postgresql/18/docker

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
      - "8085:8080"

volumes:
  db-data: